:root {
    --text: #e7f3ec;
    --background: #030705;
    --primary: #abd3bd;
    --secondary: #375668;
    --accent: #586ea7;

}

@import url('https://fonts.googleapis.com/css?family=Exo%202:700|Exo%202:400');

* {
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Exo 2';
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Exo 2';
  font-weight: 700;
}

body {
    text-align: center;
    background-color: var(--background);
    color: var(--text);
}

.header {
    color: var(--primary);
    padding: 24px;
}

.header span {
    color: var(--secondary);
    font-style: oblique;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}


img {
    height: 150px;
    width: 150px;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.container button {
    border: 3px solid var(--secondary);
    border-radius: 8px;
    padding: 16px;
}

.container button:hover {
    background: var(--secondary);
    transition: 0.7s;
}


.score-card {
    padding: 24px;
    display: flex;
    justify-content: center;
    gap: 16px;
}