:root {
    --text: #dbe4f2;
    --background: #090d18;
    --primary: #a1b5dd;
    --secondary: #542972;
    --accent: #ae54c1;
}

@import url('https://fonts.googleapis.com/css?family=Chivo%20Mono:700|Chivo:400');

body {
  font-family: 'Chivo', monospace;
  font-weight: 400;
}

h1, h2, h3, h4, h5 {
  font-family: 'Chivo Mono', monospace;
  font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background);
    color: var(--text);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 32px;
    color: var(--primary);
    text-transform: uppercase;
}

.choices {
    padding-bottom: 32px;
}

.choices button {
    font-size: 128px;
    padding: 24px;
    margin: 8px;
    background-color: var(--accent);
    border: none;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover {
    background-color: var(--secondary);
}

#playerDisplay, #computerDisplay {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary);
}

#resultDisplay {
    padding: 24px;
    font-size: 32px;
    font-weight: bold;
}

.win {
    color: lightgreen;
}

.lose {
    color: lightcoral;
}